# A. ë¡œë”©/ì ê²€/ê¸°ì´ˆ EDA (ê¸°ë³¸ ì²´ë ¥)

### A1. ë°ì´í„° ë¡œë”© ë° ìŠ¤í‚¤ë§ˆ ë¦¬í¬íŠ¸

- **ë¬¸ì œ:**Â `train.csv`ë¥¼ ì½ê³ , (1) í–‰/ì—´ ìˆ˜, (2) ê° ì»¬ëŸ¼ dtype, (3) ê²°ì¸¡ì¹˜ ê°œìˆ˜/ë¹„ìœ¨ì„ í•œ ë²ˆì— ìš”ì•½í•œ í‘œë¥¼ ë§Œë“œì„¸ìš”.
    
- **ë¬´ì—‡ì„ ë¬»ëŠ”ê°€:**Â `read_csv`,Â `shape`,Â `dtypes`,Â `isna().sum()`, ë¹„ìœ¨ ê³„ì‚°,Â `DataFrame`Â êµ¬ì„± ëŠ¥ë ¥.
    

### A2. ìœ ë‹ˆí¬/ì¤‘ë³µ ì ê²€

- **ë¬¸ì œ:**Â PassengerIdê°€ ìœ ë‹ˆí¬ì¸ì§€ í™•ì¸í•˜ê³ , ì¤‘ë³µì´ ìˆë‹¤ë©´ ì¤‘ë³µ í–‰ì„ ë°˜í™˜í•˜ì„¸ìš”. ë˜í•œ Name ì¤‘ë³µ ë¹ˆë„ ìƒìœ„ 10ê°œë¥¼ ë½‘ìœ¼ì„¸ìš”.
    
- **ë¬´ì—‡ì„ ë¬»ëŠ”ê°€:**Â `duplicated`,Â `value_counts`, ì¸ë±ì‹±/í•„í„°ë§.
    

### A3. ë²”ì£¼í˜• ë¶„í¬ ë¹ ë¥´ê²Œ ë³´ê¸°

- **ë¬¸ì œ:**Â `Sex`,Â `Embarked`,Â `Pclass`ì˜ ë¶„í¬ë¥¼ â€œê°œìˆ˜ + ë¹„ìœ¨â€ë¡œ ë™ì‹œì— ë³´ì—¬ì£¼ëŠ” ìš”ì•½ í…Œì´ë¸”ì„ ê°ê° ìƒì„±í•˜ì„¸ìš”.
    
- **ë¬´ì—‡ì„ ë¬»ëŠ”ê°€:**Â `value_counts(normalize=...)`,Â `concat`, ë©€í‹° ì»¬ëŸ¼ ìš”ì•½ íŒ¨í„´.

df_raw     : read_csv ì§í›„, ì ˆëŒ€ ìˆ˜ì • ê¸ˆì§€
df         : ë¶„ì„ ëŒ€ìƒ (df_raw.copy())
eda_schema : ì»¬ëŸ¼ ë‹¨ìœ„ ìš”ì•½ í…Œì´ë¸”
eda_cat    : ë²”ì£¼í˜• ë¶„í¬ ìš”ì•½

3ï¸âƒ£ Aë‹¨ê³„ ì‹¤ë¬´ìš© EDA Template (í‘œì¤€ ì½”ë“œ)

ì•„ë˜ëŠ” Titanicì´ ì•„ë‹ˆë¼ë„ ê·¸ëŒ€ë¡œ ì“°ëŠ” ì½”ë“œì…ë‹ˆë‹¤.
---
A0. ë°ì´í„° ë¡œë”© (Raw ë³´í˜¸)

**ì™œ í•„ìš”í•œê°€**

- EDA ì¤‘ ì‹¤ìˆ˜ë¡œ ì»¬ëŸ¼ì„ ë§ê°€ëœ¨ë ¤ë„ ë³µêµ¬ ê°€ëŠ¥

- ì‹¤ë¬´ì—ì„œ â€œì›ë³¸ í›¼ì†â€ì€ ì‹ ë¢°ë„ ë¬¸ì œë¡œ ì´ì–´ì§

In [28]:
import pandas as pd
from pathlib import Path
import os

df_raw = pd.read_csv(
    Path(os.getcwd()).parent
    / "data"
    / "raw"
    / "kaggle"
    / "datasets"
    / "titanic"
    / "titanic"
    / "train.csv"
)
df = df_raw.copy()

A1. ìŠ¤í‚¤ë§ˆ ìš”ì•½ í…Œì´ë¸” (í•µì‹¬)

**ì´ í…Œì´ë¸” í•˜ë‚˜ë¡œ í•  ìˆ˜ ìˆëŠ” íŒë‹¨**

- ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ìš°ì„ ìˆœìœ„

- categorical vs numeric ë¶„ë¥˜

- ID í›„ë³´(unique_count == len(df))

- ğŸ‘‰ df.info()ëŠ” ì‚¬ëŒìš©,
- ğŸ‘‰ ì´ í‘œëŠ” ì˜ì‚¬ê²°ì •ìš©ì…ë‹ˆë‹¤.

In [20]:
eda_schema = pd.DataFrame(
    {
        "dtype": df.dtypes,
        "non_null_count": df.notna().sum(),
        "null_count": df.isna().sum(),
        "null_ratio": df.isna().mean(),
        "unique_count": df.nunique(),
    }
).sort_values("null_ratio", ascending=False)

eda_schema

               dtype  non_null_count  null_count  null_ratio  unique_count
Cabin         object             204         687    0.771044           147
Age          float64             714         177    0.198653            88
Embarked      object             889           2    0.002245             3
PassengerId    int64             891           0    0.000000           891
Name          object             891           0    0.000000           891
Pclass         int64             891           0    0.000000             3
Survived       int64             891           0    0.000000             2
Sex           object             891           0    0.000000             2
Parch          int64             891           0    0.000000             7
SibSp          int64             891           0    0.000000             7
Fare         float64             891           0    0.000000           248
Ticket        object             891           0    0.000000           681

A2. ID / ì¤‘ë³µ / ë¬´ê²°ì„± ì²´í¬

**ì‹¤ë¬´ í•´ì„ ê°€ì´ë“œ**

- ID ìœ ë‹ˆí¬ âŒ â†’ ë°ì´í„° ìì²´ê°€ ì‹ ë¢° ë¶ˆê°€

- duplicated_rows > 0 â†’ ì œê±°ê°€ ì•„ë‹ˆë¼ ì›ì¸ ë¶„ì„ ëŒ€ìƒ

In [21]:
integrity_check = {
    "row_count": len(df),
    "passenger_id_unique": df["PassengerId"].is_unique,
    "duplicated_rows": df.duplicated().sum(),
}

integrity_check

{'row_count': 891, 'passenger_id_unique': True, 'duplicated_rows': np.int64(0)}

A3. ë²”ì£¼í˜• ë¶„í¬ ìš”ì•½ (Reusable Function)
 - 1ï¸âƒ£ ë²”ì£¼ ìš”ì•½ í•¨ìˆ˜ (í…œí”Œë¦¿ í•µì‹¬)
 - ğŸ‘‰ EDA í…œí”Œë¦¿ì—ì„œ ê°€ì¥ ì¬ì‚¬ìš©ë¥  ë†’ì€ í•¨ìˆ˜

In [22]:
def summarize_category(series: pd.Series) -> pd.DataFrame:
    cnt = series.value_counts(dropna=False)
    ratio = series.value_counts(dropna=False, normalize=True)
    return pd.DataFrame({"count": cnt, "ratio": ratio})

2ï¸âƒ£ ì ìš© ì˜ˆì‹œ (Titanic)

**ê²°ê³¼ í•´ì„ì€ ì´ë ‡ê²Œ í•©ë‹ˆë‹¤**

Sex
â†’ ë°ì´í„° ë¶ˆê· í˜• ì—¬ë¶€

Pclass
â†’ ì‚¬íšŒê²½ì œì  í¸í–¥

Embarked
â†’ ê²°ì¸¡ì¹˜ ì˜ë¯¸ ì—¬ë¶€

In [23]:
eda_sex = summarize_category(df["Sex"])
eda_sex

        count     ratio
Sex
male      577  0.647587
female    314  0.352413

In [24]:
eda_pclass = summarize_category(df["Pclass"])
eda_pclass

        count     ratio
Pclass
3         491  0.551066
1         216  0.242424
2         184  0.206510

In [25]:
eda_embarked = summarize_category(df["Embarked"])
eda_embarked

          count     ratio
Embarked
S           644  0.722783
C           168  0.188552
Q            77  0.086420
NaN           2  0.002245

A4. ìˆ«ìí˜• ìš”ì•½ (EDAì˜ ë§ˆë¬´ë¦¬)

**ì™œ .T ì¸ê°€?**

ì»¬ëŸ¼ ì¤‘ì‹¬ ì‚¬ê³ 

ì´í›„ eda_schemaì™€ ì‚¬ê³  ë‹¨ìœ„ê°€ ì¼ì¹˜

In [26]:
eda_numeric = df.describe().T
eda_numeric

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292